@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* #FFFFFF */
  --background-rgb: 16, 16, 20; /* #101014 */
}

body {
  color: #FFFFFF;
  background: #101014;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .user-menu-button:hover {
    background-color: #1e1e20 !important;
  }
}
